.task-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #4f46e5;
  align-items: center;
}
.task-title a {
  text-decoration: none;
}
.task-title h3 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.task-list {
  display: flex;
  gap: 20px;
}
.task-list a {
  text-decoration: none;
}
.task-list li {
  list-style-type: none;
  cursor: pointer;
  font-weight: 400;
}
.inactive {
  color: #ffffff;
}
.active {
  color: red;
}
.task-list li:hover {
  color: #38bdf8;
}
